body {
  font-family: 'Bai Jamjuree', sans-serif;
  text-align: center;
  font-size: 18px;
}

h2, h3, h4 {
  font-weight: 600;
  color: hsl(210, 10%, 33%);
}

p {
  color: hsl(201, 11%, 66%);
}

#title {
  padding: 10% 8%;
}

.btn {
  border-radius: 6.25rem;
  font-size: 1rem;
  color: #fff;
  width: 12rem;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.2);
  margin: 0.6rem;
}
.ios-btn {background-color: hsl(171, 66%, 44%);}
.Mac-btn {background-color: hsl(233, 100%, 69%);}


@media (min-width: 720px) {

}

@media (min-width: 1080px) {

}
